<%= simple_form_for(@person) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :imie %>
    <%= f.input :nazwisko %>
    <%= f.input :role %>
    <%= f.label "Grupa" %>
    <%= f.select :group_id , Group.all.map { |group| [group.name, group.id] } %>
    <%= f.input :age %>
    <%= f.label "able To Share Room" %>
    <%= f.select(:ableToShareRoom, options_for_select([['No', 0], ['Yes', 1]], @person.ableToShareRoom)) %>
    <%= f.input :mobile %>
    <%= f.input :email %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
